// Import Bootstrap
@import '~bootstrap/scss/bootstrap';
// Import Toastr
@import 'toastr';

* {
   margin: 0px;
   padding: 0px;
   form input[type='number']::-webkit-outer-spin-button,
form input[type='number']::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}}

/*body {
   min-height: 100vh;
   max-height: 200vh;
   width: 100vw;
}

.container-fluid {
   height: 100vh;
   max-height: max-content;
}*/
